body {
    margin: 0;
    padding: 0;
    border: 0;
  }  

.div_cabecalho {
    padding-top: 20px;
    background-color: black;
    width: 100%;
    height: 75px;
}
.div_caixa {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;

}
.logo {
    margin-top: 15px;
    color: white;
    font: 15px;
    float: left;
}
#orange {
    color: orange;
}

.div_cabecalho nav {
    float: right;
}
ul li {
    color: white;
    display: inline;
    margin-left: 20px;
    font-size: 15px;
  }